table.manager-list {
  tr td i {
    visibility: hidden;
    opacity: 0;
    transition: opacity 800ms;
  }
  tr:hover {
    td i {
      visibility: visible;
      opacity: 1.0;
    }
    td {
      cursor: pointer;
    }
    td.hover-group.update {
      background-color: #e0f7fa;
    }
    td.hover-group.delete {
      background-color: #ef9a9a;
    }
  }
}

table.compactTable {
  tr>th {
    padding: 5px;
  }
  tr>td {
    padding: 5px;
  }
}

// styles for sticky footer
body>div.reactContent>div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.form-horizontal>* {
  vertical-align: text-bottom;
  margin-left: 20px;
  margin-right: 20px;
}

// make main scrollbar always visible
html {
  overflow-y: scroll;
}

@mixin centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.photoForm {
  overflow: hidden;
  div.form, div.imageSelect {
    float: left;
    width: 50%;
  }

  div.imageSelect {
    padding: 2%;
    >div.imagePlaceholder {
      height: 200px;
      width: 200px;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      >div {
        width: 90%;
        height: 90%;
        @include centered;
        background-color: white;
      }
      i.material-icons {
        font-size: 100px;
        @include centered;
      }
    }
    >img {
      width: 95%;
      cursor: pointer;
    }
  }
}

.photoSet {
  overflow: hidden;
  .photoSetImage {
    width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;
    margin: 1%;
    position: relative;
    img {
      @include centered;
      opacity: 1.0;
      transition: opacity 400ms;
    }
    span{
      position: relative;
      z-index: 10;
      margin: 10px;
    }
    >.controls {
      position: absolute !important;
      @include centered;
      opacity: 0;
      transition: opacity 400ms;
    }
  }
}

.photoSetImage:hover {
  img {
    opacity: 0.2;
  }

 .controls {
   opacity: 1.0;
 }
}

.article {
  img {
    max-width: 1000px;
    max-height: 1000px;
  }
}

//styles for models carousel
.carousel-container {
  overflow-x: hidden;
  position: relative;
}

.model-carousel-enter {
  transform: translateX(100%);
  position: absolute;
}

.model-carousel-enter.model-carousel-enter-active {
  transform: translateX(0%);
  transition: transform 900ms ease-in;
}

.model-carousel-leave {
  transform: translateX(0%);
  position: relative;
}

.model-carousel-leave.model-carousel-leave-active {
  transform: translateX(-100%);
  transition: transform 900ms ease-in;
}

//styles for list of ranges
.ranges-list-container {
  .range {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
  }
}
