@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/materializecss/css/materialize.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/custom.css")">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="@routes.Assets.versioned("lib/system.js/dist/system.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/Launch.js")"></script>
    </head>
    <body>

    </body>
</html>
